page {
  background-color: #f5f5f5;
}

.container {
  padding: 30px;
}

/* 增大TabBar文字大小 */
.taro-tabbar__panel .weui-tabbar__label {
  font-size: 26px !important;
  font-weight: 500 !important;
}

/* H5端TabBar样式 */
.taro-tabbar__panel .taro-tabbar__title {
  font-size: 26px !important;
  font-weight: 500 !important;
}




